<style>
.container{
    position: relative;
    text-align: center;
    top: 100px;
}
</style>

<div class="container center">
    <h1>Oops!</h1>
    <h1>404</h1>
    <h2>Aluno ou App não encontrado</h2>
    <button type="button" class="button">Voltar</button>
</div>