<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/materialize.min.css">
</head>
<body>
        <div class="container center">
            <h1>Welcome to Curso!</h1>
        </div>

        <div class="card center">
                <h2 id="primeiro" class="yellow hoverable">primeiro</h2>
                <h2 id="segundo" class="blue hoverable">Segundo</h2>
                <h2 id="terceiro" class="orange hoverable">Terceiro</h2>

        </div>

    <script type="text/javascript" src="scripts/jquery-v3.3.1.js"></script>
    <script src="/scripts/materialize.js" type="text/javascript"></script>
    <script src="/scripts/script.js" type="text/javascript"></script>

</body>
</html>